// Variables

$question-style: purple;
$answer-style: #844cb9;
$container-style: #494c7d;
$main-style: #f7f7ed;
$border-dark: #5c9a95;
$border-light: #fffee2;
$font-header: 'Monaco', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$font-other: 'Open Sans', sans-serif;

body {
  font-family: $font-other;
}

.topBar {
  display: flex;
  margin: 0.2em;
  padding: 1.3em;
  font-family: $font-other;
  font-weight: bolder;
  color:$question-style
}

  .leftCorner {
    position: fixed;
    left: 10px;
    top: 0.5em;
  }

  .score {
    color: $question-style;
  }

  .rightCorner{
    position: absolute;
    right: 10px;
    top: 0.5em;
  }

  .timer {
    display: inline-block;
    color: $question-style;
    font-weight: bold;
  
  .counterTime {
      align-content: center;
    }
  }

#viewHSSecBtn {
    background-color: transparent;
    color: $question-style;
    border: none;
  }


main {
  background: $main-style;
  margin: 0.2em;
  padding: 0.2em;
  border-radius: 20px;
}

h1 {
  align-content: center;
  text-align: center;
  font-weight: bolder;
}

.startTestSec {
  display: block;
  margin: 0.2em;
  padding: 0.2em;
  align-content: center;
  }
  article {
    border-top: $container-style;
    padding: 0.1em;
  }

  li {
    list-style-type: circle;

  }
  p {
    border-top: $border-dark;
  }
  span {
  font-weight: 500px;
  font-style: italic;
  font-weight: bolder;
  color: $question-style;
  }

.question {
  h2 {
    text-align: left;
  }
  p {
    color: $question-style;
    font-weight: bold;
  }
}

.assessSec{
  padding: 15px;
  border-bottom: #5c9a95;
  border-width: thin;

  .confirmation {
    padding: 15px;
    height: 20px;
    border-top: #5c9a95;
  }
}
#startBtn {
  align-content: center;
  position: relative;
  left: 50px;
  top: 5px;

}

.answers{
  padding: 15;
  border-bottom: $border-dark;
}

button {
  width: 130px;
  height: 25px;
  background-color: $question-style;
  color: $border-light;
  border-radius: 5px;
  border-style: groove;
}

#viewHSSecBtn {
    background-color: transparent;
    color: $question-style;
    border: none;
    font-family: "Open Sans", sans-serif;

  }

.option {
  display: list-item;
  background-color: $question-style;
  color:$border-light;
  border:$border-light;
  border-style: outset;
  height: max-content;
  width: fit-content;
}

fieldset{
  margin-bottom: 30px;
}

input {
  padding: 5px;
  height: 90
  px;
}

.highScoresSec {
  
  padding: 10px;
  margin: 10px;
  width: 50em;
  height: 1000em;
}
  
fieldset {
  
  width: 100px;
  height: 11em;
  background-color: $main-style;
  }

  legend {
    height: 1em;
    width: max-content;
  }
    ol{
      height: max-content;

    }
  



